<div id="fullPlayer" (mouseup)="videoService.dragStop($event)" (mousemove)="videoService.dragMove($event)" (mouseleave)="videoService.dragStop($event)">
  <div class="embed-responsive embed-responsive-16by9">
      <video id="videoDisplay" (click)="videoService.playVideo()" width="100%" height="100%" class="embed-responsive-item"></video>
      <div id="bigPlayButton" [ngClass]="{'fade-out':videoService.isPlaying}" class="fader" (click)="videoService.playVideo()"><i class="fa fa-play"></i></div>
      <div id="videoTitle" [ngClass]="{'fade-out':videoService.isPlaying}" class="fader">{{videoService.currentTitle}}</div>
      <app-options [ngClass]="{'fade-out':!videoService.showDetails}" class="fader"></app-options>
  </div>
  <app-progress></app-progress>
  <app-toolbar></app-toolbar>
</div>